.rf-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: gold;
}

.r-form {
  display: flex;
  flex-direction: column;
  background-color: goldenrod;
  padding: 30px;
  border-radius: 20px;
}

.r-form input,
textarea {
  border-radius: 20px;
  border: none;
  padding: 10px;
}

.r-form input:last-child {
  margin-top: 10px;
}

.success-message {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

span {
  color: red;
}